* {
  color:#626771;
  background-color:	#FAF0E6;
  padding:0;
  margin:0;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

html{
    font-family: 'Inconsolata', monospace;
    color:#626771;
    background-color:	#FAF0E6;
}

body{
    padding:60px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color:#626771;
    background-color:	#FAF0E6;
}

input[type=text]{
    text-align: center;
    font: inherit;
    border: 6px solid #a3d8d6;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 384px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}

ul{
    list-style: none;
    display: inline-block;
    width: 420px;
    text-align: left;
}

ul li{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;

    transition: 0.3s;
}

ul li a{
    position: absolute;
    left: 160px;
    font-size: 12px;
    line-height: 16px;
    color: #969d9d;
}

ul li:hover{
    background-color:#d8f2f1;
}

.rep {
    background-color:#3a47d1;
    border: 2px;
    border-color:#212fc6;
    width: 50%;
    height: 300px;
    float: left;
}

.issue:hover{
    background-color:#d8f2f1;
    font-color: #3a47d1;
}

.issue {
    background-color:#3a47d1;
    height: 50px;
    width: 100%;
    border: 2px;
    border-color:#212fc6;
    float: left;
}

.portrait {
  width: 120px;
  height: 240px;
}

.repPanel {
    height:500px;
    overflow-y:scroll;
}
